<div class="popover">
  <div class="arrow"></div>
  <h3 class="popover-title">Controls</h3>
  <div class="popover-content">
    <div>
      <div class="plotting-help-control">Left Click</div>
      <div class="plotting-help-function">Tune to the frequency under the mouse</div>

      <div class="plotting-help-control">Left-Click Drag</div>
      <div class="plotting-help-function">Zoom into the plot</div>

      <div class="plotting-help-control">Right Click</div>
      <div class="plotting-help-function">Undo the most recent zoom</div>

      <div class="plotting-help-control">Drag the Accordion</div>
      <div class="plotting-help-function">Tune to the frequency under the center of the accordion</div>

      <div class="plotting-help-control">Hover the Accordion over Either Wide Band Plot Edge</div>
      <div class="plotting-help-function">Tune through the wide band spectrum continuously (faster when closer to the edge)</div>

      <div class="plotting-help-control">Click the Arrow Buttons On Either Side of the Wide Band Plot</div>
      <div class="plotting-help-function">Tune to the next lower or higher wide band spectrum segment</div>

      <div class="plotting-help-control">Middle Click</div>
      <div class="plotting-help-function">Show the plotting menu</div>

      <div class="plotting-help-control">F</div>
      <div class="plotting-help-function">Show the plot in fullscreen</div>
    </div>
  </div>
</div>

