<div class="popover">
  <div class="arrow"></div>
  <h3 class="popover-title">Controls</h3>
  <div class="popover-content">
    <div>
      <div class="plotting-help-control">Left Click</div>
      <div class="plotting-help-function">Tune to the frequency under the mouse</div>

      <div class="plotting-help-control">Left-Click Drag</div>
      <div class="plotting-help-function">Tune to the frequency at the center of the box</div>

      <div class="plotting-help-control">Ctrl Left-Click Drag</div>
      <div class="plotting-help-function">Zoom into the plot</div>

      <div class="plotting-help-control">Right Click</div>
      <div class="plotting-help-function">Undo the most recent zoom</div>

      <div class="plotting-help-control">Middle Click</div>
      <div class="plotting-help-function">Show the plotting menu</div>

      <div class="plotting-help-control">F</div>
      <div class="plotting-help-function">Show the plot in fullscreen</div>
    </div>
  </div>
</div>

